/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center no-repeat;
    background-size: contain;
    /*border-radius: 50%;*/
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}


.loginContentStyle {
    background: #5C258D; 
    background: -webkit-linear-gradient(to bottom, #5C258D , #4389A2); 
    background: linear-gradient(to bottom, #5C258D , #4389A2);
}

.myNumberInput {
    font-size: 20px !important;
    line-height: 20px !important;
    padding-top: 20px !important;
    text-align: center;
}

.myProjectTitle {
    font-size: 26px !important;
    padding-top: 8px;
}

.checked {
    text-decoration: line-through !important;
    color: gray;
}

.myInput {
    font-size: 20px !important;
    line-height: 20px !important;
    border: 1px solid #ddd !important;
    margin-top: 5px !important;
    padding: 2px !important;
}

.noBorder {
    border: 0px !important;
}

.noPadding {
    padding: 0 !important;
}

.col-30{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.col-15{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.col-17{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 17%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 17%;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    max-width: 17%;
}

.sharingWith {
    height:30px;
    width:30px;
    border-radius: 50%;
    float: left;
    margin-left: 2px;
}

.myCheckMarkButton {
    width: 100%;
}

.centerText {
    text-align: center;
}